[mysqld_safe]
pid-file=/opt/mysql/run/mysqld.pid
user=mysql

[mysql]
port=3306
prompt=\\u@\\d \\r:\\m:\\s>
default-character-set=utf8
no-auto-rehash

[client]
port=3306
socket=/opt/mysql/run/mysql.sock

[mysqld]
#dir
basedir=/usr/local/mysql
datadir=/opt/mysql/data
tmpdir=/tmp
log_error=/opt/mysql/log/error.log
log_timestamps=system
slow_query_log_file=/opt/mysql/log/slow.log
general_log_file=/opt/mysql/log/general.log
socket=/opt/mysql/run/mysql.sock

#innodb
innodb_data_home_dir=/opt/mysql/data
innodb_log_group_home_dir=/opt/mysql/data
innodb_data_file_path=ibdata1:64M:autoextend
innodb_buffer_pool_size=18G
innodb_buffer_pool_instances=4
innodb_log_files_in_group=2
innodb_log_file_size=512M
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=1
innodb_max_dirty_pages_pct=75
innodb_io_capacity=200
innodb_read_io_threads=4
innodb_write_io_threads=4
innodb_open_files=10000
innodb_file_format=Barracuda
#innodb_file_format=Antelope
innodb_file_per_table=1
innodb_flush_method=O_DIRECT
innodb_change_buffering=inserts
innodb_adaptive_flushing=1
innodb_old_blocks_time=1000
innodb_stats_on_metadata=0
innodb_random_read_ahead=0
innodb_use_native_aio=0
#innodb_lock_wait_timeout=5
innodb_lock_wait_timeout=50
innodb_rollback_on_timeout=0
innodb_purge_threads=1
innodb_strict_mode=1
#innodb_thread_concurrency=cpu_count

#myisam
key_buffer_size=64M
myisam_sort_buffer_size=8M
concurrent_insert=1
delayed_insert_timeout=300

#replication
master_info_repository=TABLE
master_info_file=/opt/mysql/log/relaylog/master.info
relay_log=/opt/mysql/log/relaylog/mysql-relay
relay_log_info_repository=TABLE
relay_log_info_file=/opt/mysql/log/relaylog/mysql-relay.info
relay_log_index=/opt/mysql/log/relaylog/mysql-relay.index
slave_load_tmpdir=/opt/mysql/tmp
slave_type_conversions="ALL_NON_LOSSY"
slave_net_timeout=120
skip-slave-start
sync_master_info=1000
sync_relay_log_info=1000
relay_log_purge=1

#semi sync
plugin_dir=/usr/local/mysql/lib/plugin
plugin_load="rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
rpl_semi_sync_master_enabled=0
rpl_semi_sync_master_timeout=5000
rpl_semi_sync_slave_enabled=0

#binlog
log_bin=/opt/mysql/log/binlog/mysql-bin
log_bin_index=/opt/mysql/log/binlog/mysql-bin.index
server_id=1
binlog_cache_size=32K
max_binlog_cache_size=2G
max_binlog_size=500M
binlog_format=ROW
sync_binlog=1
log_slave_updates=1
expire_logs_days=0
innodb_support_xa=ON
gtid_mode=ON
enforce_gtid_consistency=ON

#server
default_storage_engine=InnoDB
character_set_server=utf8
lower_case_table_names=1
skip-external-locking
open_files_limit=65535
safe-user-create
secure_file_priv=NULL
local_infile=1
performance_schema=1

log_slow_admin_statements=1
#log_warnings=1
#log_error_verbosity=3
long_query_time=5
slow_query_log=1
general_log=0

query_cache_type=0
query_cache_limit=1M
query_cache_min_res_unit=1K

table_definition_cache=65535
#table_cache=65535

thread_stack=512K
thread_cache_size=256
read_rnd_buffer_size=128K
sort_buffer_size=256K
join_buffer_size=128K
read_buffer_size=128K

port=3306
skip-name-resolve
skip-ssl
max_connections=2000
max_user_connections=0
max_connect_errors=65535
max_allowed_packet=128M
connect_timeout=8
net_read_timeout=30
net_write_timeout=60
back_log=1024

sql_mode="ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
